<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.eureka.client.dao.CloudAuthRecordInfoMapper" >
  <resultMap id="BaseResultMap" type="com.cloud.eureka.client.entity.CloudAuthRecordInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="request_no" property="requestNo" jdbcType="VARCHAR" />
    <result column="customer_no" property="customerNo" jdbcType="VARCHAR" />
    <result column="auth_type" property="authType" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="auth_code" property="authCode" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="response_time" property="responseTime" jdbcType="TIMESTAMP" />
    <result column="use_channel" property="useChannel" jdbcType="INTEGER" />
    <result column="request_data" property="requestData" jdbcType="VARCHAR" />
    <result column="charge_status" property="chargeStatus" jdbcType="INTEGER" />
    <result column="charge_time" property="chargeTime" jdbcType="TIMESTAMP" />
    <result column="remarks1" property="remarks1" jdbcType="VARCHAR" />
    <result column="remarks2" property="remarks2" jdbcType="VARCHAR" />
    <result column="remarks3" property="remarks3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, request_no, customer_no, auth_type, status, auth_code, create_time, response_time, 
    use_channel, request_data, charge_status, charge_time, remarks1, remarks2, remarks3
  </sql>

  <select id="selectByRequestNo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from cloud_auth_record_info
    where request_no = #{requestNo,jdbcType=VARCHAR}
  </select>

  <insert id="insertSelective" parameterType="com.cloud.eureka.client.entity.CloudAuthRecordInfo" >
    insert into cloud_auth_record_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="requestNo != null" >
        request_no,
      </if>
      <if test="customerNo != null" >
        customer_no,
      </if>
      <if test="authType != null" >
        auth_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="authCode != null" >
        auth_code,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="responseTime != null" >
        response_time,
      </if>
      <if test="useChannel != null" >
        use_channel,
      </if>
      <if test="requestData != null" >
        request_data,
      </if>
      <if test="chargeStatus != null" >
        charge_status,
      </if>
      <if test="chargeTime != null" >
        charge_time,
      </if>
      <if test="remarks1 != null" >
        remarks1,
      </if>
      <if test="remarks2 != null" >
        remarks2,
      </if>
      <if test="remarks3 != null" >
        remarks3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="requestNo != null" >
        #{requestNo,jdbcType=VARCHAR},
      </if>
      <if test="customerNo != null" >
        #{customerNo,jdbcType=VARCHAR},
      </if>
      <if test="authType != null" >
        #{authType,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="authCode != null" >
        #{authCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="responseTime != null" >
        #{responseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="useChannel != null" >
        #{useChannel,jdbcType=INTEGER},
      </if>
      <if test="requestData != null" >
        #{requestData,jdbcType=VARCHAR},
      </if>
      <if test="chargeStatus != null" >
        #{chargeStatus,jdbcType=INTEGER},
      </if>
      <if test="chargeTime != null" >
        #{chargeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks1 != null" >
        #{remarks1,jdbcType=VARCHAR},
      </if>
      <if test="remarks2 != null" >
        #{remarks2,jdbcType=VARCHAR},
      </if>
      <if test="remarks3 != null" >
        #{remarks3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cloud.eureka.client.entity.CloudAuthRecordInfo" >
    update cloud_auth_record_info
    <set >
      <if test="requestNo != null" >
        request_no = #{requestNo,jdbcType=VARCHAR},
      </if>
      <if test="customerNo != null" >
        customer_no = #{customerNo,jdbcType=VARCHAR},
      </if>
      <if test="authType != null" >
        auth_type = #{authType,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="authCode != null" >
        auth_code = #{authCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="responseTime != null" >
        response_time = #{responseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="useChannel != null" >
        use_channel = #{useChannel,jdbcType=INTEGER},
      </if>
      <if test="requestData != null" >
        request_data = #{requestData,jdbcType=VARCHAR},
      </if>
      <if test="chargeStatus != null" >
        charge_status = #{chargeStatus,jdbcType=INTEGER},
      </if>
      <if test="chargeTime != null" >
        charge_time = #{chargeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks1 != null" >
        remarks1 = #{remarks1,jdbcType=VARCHAR},
      </if>
      <if test="remarks2 != null" >
        remarks2 = #{remarks2,jdbcType=VARCHAR},
      </if>
      <if test="remarks3 != null" >
        remarks3 = #{remarks3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

</mapper>